<div class="list-group">
        {% for category in categories %}
                <a href="#" class="list-group-item list-group-item-products list-group-item-action d-flex justify-content-between align-items-center">
                        {{ category.name }}
                        <span class="badge badge-primary badge-pill">{{ category.products.count }}</span>
                </a>
        {% endfor %}
</div>
