<div class="row">
    <div class="card card-product text-white bg-primary mb-3">
        <div class="card-header text-center">
            Search products
        </div>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
